__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
local/
.gitmodules
wandb/
onelogger.log
onelogger.err
share_files/
*.sh.*
data/
output/
checkpoints/
*.log
.venv
test_cases/
runs/
